/* Variables */


// $Beanstalk Flexible Grid
// -------------------------------------//

$row-width: 960px;
$column-gutter: 0.9375em;
$total-columns: 12;

// $Breakpoints
// -------------------------------------//

$small-screen: 600px;
$medium-screen: 768px;
$large-screen: 960px;

$screen: "only screen";
$small: "only screen and (min-width: #{$small-screen})";
$medium: "only screen and (min-width: #{$medium-screen})";
$large: "only screen and (min-width: #{$large-screen})";
$landscape: "only screen and (orientation: landscape)";
$portrait: "only screen and (orientation: portrait)";


// The default font-size is set to 100% of the browser style sheet (usually 16px)
// for compatibility with browser-based text zoom or user-set defaults.
$mobile-base-font-size: 87.5% !default;
$base-font-size: 100% !default;

// $base-line-height is the global standard for line-height
$base-line-height: 1.5;

// $base-letter-spacing should be used for all instances where letter-spacing is required
$base-letter-spacing: .1em;

// Since the typical default browser font-size is 16px, that makes the calculation for grid size.
// If you want your base font-size to be a different size and not have it effect grid size too,
// set the value of $em-base to $base-font-size ($em-base: $base-font-size;)
$em-base: 16px !default;


// $Color
// -------------------------------------//

$primary-color: #f05133;
$secondary-color: #46463a;
$neutral-color: #fff;

$alert-color: #c60f13;
$success-color: #5da423;

$body-bg: #f5f5f2;


// $BaseType
// -------------------------------------//

// Body font styles

$body-font-family: "Open Sans", Verdana, Geneva, sans-serif;
$body-font-color: #333332;
$body-font-weight: normal;
$body-font-style: normal;

// Heading font styles

$header-font-family: "Open Sans", Verdana, Geneva, sans-serif;
$header-font-weight: bold;
$header-font-style: normal;
$header-font-color: red;
$header-line-height: 1.5;
$header-top-margin: .2em;
$header-bottom-margin: .5em;
$header-text-rendering: optimizeLegibility;

// Heading font sizes

$h1-font-size: emCalc(44px);
$h2-font-size: emCalc(36px);
$h3-font-size: emCalc(27px);
$h4-font-size: emCalc(22px);
$h5-font-size: emCalc(18px);
$h6-font-size: 1em;

// Subheaders

$subheader-line-height: 1.4;
$subheader-font-color: lighten($header-font-color, 30%);
$subheader-font-weight: normal;
$subheader-top-margin: .2em;
$subheader-bottom-margin: .5em;


// $Border Radius
// -------------------------------------//

// Make sure border radius matches unless we want it different.

$global-radius: 6px;
$global-rounded: 1000px;

// $Small Print
// -------------------------------------//

$small-font-size: 60%;
$small-font-color: lighten($header-font-color, 30%);






