/* Variables */


// The default font-size is set to 100% of the browser style sheet (usually 16px)
// for compatibility with browser-based text zoom or user-set defaults.
$mobile-base-font-size: 87.5% !default;
$base-font-size: 100% !default;

// $base-line-height is the global standard for line-height
$base-line-height: 1.5;

// $base-letter-spacing should be used for all instances where letter-spacing is required
$base-letter-spacing: .1em;

// Since the typical default browser font-size is 16px, that makes the calculation for grid size.
// If you want your base font-size to be a different size and not have it effect grid size too,
// set the value of $em-base to $base-font-size ($em-base: $base-font-size;)
$em-base: 16px !default;


// $Breakpoints
// -------------------------------------//

$small-screen: 600px;
$medium-screen: 768px;
$large-screen: 960px;

$screen: "only screen";
$small: "only screen and (min-width: #{$small-screen})";
$medium: "only screen and (min-width: #{$medium-screen})";
$large: "only screen and (min-width: #{$large-screen})";
$landscape: "only screen and (orientation: landscape)";
$portrait: "only screen and (orientation: portrait)";


// $Flexible Grid
// -------------------------------------//

$row-width: 960px;
$column-gutter: 0.9375em;
$total-columns: 12;

