/* Import Partials!
-------------------------------------------------------------------------------*/

@import "normalize";
@import "vars";
@import "global";
@import "grid";
@import "type";

body {
	background-color: $primary-color;
}

.view-grid {
	background-color: rgba($secondary-color, .3);
	text-align: center;
	color: $secondary-color;
	border-radius: 4px;
	font-size: .7em;
	padding: .5em;
}