/* Import Partials!
-------------------------------------------------------------------------------*/
/* Reset */
/* Let's default this puppy out -- from HTML5 Reset
-------------------------------------------------------------------------------*/
/* line 6, ../sass/_reset.scss */
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 15, ../sass/_reset.scss */
article, aside, figure, footer, header, nav, section, details, summary {
  display: block;
}

/* force a vertical scrollbar to prevent a jumpy page */
/* line 18, ../sass/_reset.scss */
html {
  overflow-y: scroll;
}

/* we use a lot of ULs that aren't bulleted. 
	don't forget to restore the bullets within content. */
/* line 22, ../sass/_reset.scss */
ul {
  list-style: none;
}

/* line 24, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 29, ../sass/_reset.scss */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

/* line 31, ../sass/_reset.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 33, ../sass/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 35, ../sass/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

/* tables still need cellspacing="0" in the markup */
/* line 38, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 39, ../sass/_reset.scss */
th {
  font-weight: bold;
  vertical-align: bottom;
}

/* line 40, ../sass/_reset.scss */
td {
  font-weight: normal;
  vertical-align: top;
}

/* line 42, ../sass/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 44, ../sass/_reset.scss */
input, select {
  vertical-align: middle;
}

/* line 46, ../sass/_reset.scss */
pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */
}

/* line 53, ../sass/_reset.scss */
input[type="radio"] {
  vertical-align: text-bottom;
}

/* line 54, ../sass/_reset.scss */
input[type="checkbox"] {
  vertical-align: bottom;
}

/* line 55, ../sass/_reset.scss */
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 56, ../sass/_reset.scss */
.ie6 input {
  vertical-align: text-bottom;
}

/* line 58, ../sass/_reset.scss */
select, input, textarea {
  font: 99% sans-serif;
}

/* line 60, ../sass/_reset.scss */
table {
  font-size: inherit;
  font: 100%;
}

/* line 62, ../sass/_reset.scss */
small {
  font-size: 85%;
}

/* line 64, ../sass/_reset.scss */
strong {
  font-weight: bold;
}

/* line 66, ../sass/_reset.scss */
td, td img {
  vertical-align: top;
}

/* Make sure sup and sub don't screw with your line-heights
	gist.github.com/413930 */
/* line 70, ../sass/_reset.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

/* line 71, ../sass/_reset.scss */
sup {
  top: -0.5em;
}

/* line 72, ../sass/_reset.scss */
sub {
  bottom: -0.25em;
}

/* standardize any monospaced elements */
/* line 75, ../sass/_reset.scss */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* hand cursor on clickable elements */
/* line 83, ../sass/_reset.scss */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
/* line 86, ../sass/_reset.scss */
button, input, select, textarea {
  margin: 0;
}

/* make buttons play nice in IE */
/* line 89, ../sass/_reset.scss */
button {
  width: auto;
  overflow: visible;
}

/* scale images in IE7 more attractively */
/* line 92, ../sass/_reset.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* prevent BG image flicker upon hover */
/* line 95, ../sass/_reset.scss */
.ie6 html {
  filter: expression(document.execCommand("BackgroundImageCache", false, true));
}

/* line 97, ../sass/_reset.scss */
.chromeframe {
  position: absolute;
  top: 0;
}

/* Variables */
/* Global */
/* line 87, ../sass/_global.scss */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 92, ../sass/_global.scss */
a:focus {
  outline: none;
}

/* line 97, ../sass/_global.scss */
img,
object,
embed {
  max-width: 100%;
  height: auto;
}

/* line 100, ../sass/_global.scss */
object,
embed {
  height: 100%;
}

/* line 101, ../sass/_global.scss */
img {
  -ms-interpolation-mode: bicubic;
}

/* line 107, ../sass/_global.scss */
#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important;
}

/* line 112, ../sass/_global.scss */
.left {
  float: left !important;
}

/* line 113, ../sass/_global.scss */
.right {
  float: right !important;
}

/* line 114, ../sass/_global.scss */
.text-left {
  text-align: left !important;
}

/* line 115, ../sass/_global.scss */
.text-right {
  text-align: right !important;
}

/* line 116, ../sass/_global.scss */
.text-center {
  text-align: center !important;
}

/* line 117, ../sass/_global.scss */
.text-justify {
  text-align: justify !important;
}

/* line 118, ../sass/_global.scss */
.hide {
  display: none;
}

/* line 124, ../sass/_global.scss */
.antialiased {
  -webkit-font-smoothing: antialiased;
}

/* line 127, ../sass/_global.scss */
img {
  display: inline-block;
  vertical-align: middle;
}

/* line 137, ../sass/_global.scss */
textarea {
  height: auto;
  min-height: 50px;
}

/* line 140, ../sass/_global.scss */
select {
  width: 100%;
}

/* Grid 
 *
 * a flexible grid system called Beanstalk
 *
 *
 */
/* line 13, ../sass/_grid.scss */
.row {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
/* line 19, ../sass/_grid.scss */
.row:before, .row:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/_grid.scss */
.row:after {
  clear: both;
}
/* line 27, ../sass/_grid.scss */
.row .row {
  width: auto;
  margin-left: -0.9375em;
  margin-right: -0.9375em;
  margin-top: 0;
  margin-bottom: 0;
}
/* line 36, ../sass/_grid.scss */
.row.collapse > .column, .row.collapse > .columns {
  padding-left: 0;
  padding-right: 0;
}
/* line 44, ../sass/_grid.scss */
.row.collapse-outer > .column:first-child, .row.collapse-outer > .columns:first-child {
  padding-left: 0;
}
/* line 47, ../sass/_grid.scss */
.row.collapse-outer > .column:last-child, .row.collapse-outer > .columns:last-child {
  padding-right: 0;
}

/* line 54, ../sass/_grid.scss */
.column,
.columns {
  width: 100%;
  float: left;
  padding-left: 0.9375em;
  padding-right: 0.9375em;
  position: relative;
}
/* line 61, ../sass/_grid.scss */
.column:last-child,
.columns:last-child {
  float: right;
}

/* line 72, ../sass/_grid.scss */
.small-col-1 {
  width: 8.33333%;
}

/* line 72, ../sass/_grid.scss */
.small-col-2 {
  width: 16.66667%;
}

/* line 72, ../sass/_grid.scss */
.small-col-3 {
  width: 25%;
}

/* line 72, ../sass/_grid.scss */
.small-col-4 {
  width: 33.33333%;
}

/* line 72, ../sass/_grid.scss */
.small-col-5 {
  width: 41.66667%;
}

/* line 72, ../sass/_grid.scss */
.small-col-6 {
  width: 50%;
}

/* line 72, ../sass/_grid.scss */
.small-col-7 {
  width: 58.33333%;
}

/* line 72, ../sass/_grid.scss */
.small-col-8 {
  width: 66.66667%;
}

/* line 72, ../sass/_grid.scss */
.small-col-9 {
  width: 75%;
}

/* line 72, ../sass/_grid.scss */
.small-col-10 {
  width: 83.33333%;
}

/* line 72, ../sass/_grid.scss */
.small-col-11 {
  width: 91.66667%;
}

/* line 72, ../sass/_grid.scss */
.small-col-12 {
  width: 100%;
}

@media screen and (min-width: 600px) {
  /* line 81, ../sass/_grid.scss */
  .col-1 {
    width: 8.33333%;
  }

  /* line 81, ../sass/_grid.scss */
  .col-2 {
    width: 16.66667%;
  }

  /* line 81, ../sass/_grid.scss */
  .col-3 {
    width: 25%;
  }

  /* line 81, ../sass/_grid.scss */
  .col-4 {
    width: 33.33333%;
  }

  /* line 81, ../sass/_grid.scss */
  .col-5 {
    width: 41.66667%;
  }

  /* line 81, ../sass/_grid.scss */
  .col-6 {
    width: 50%;
  }

  /* line 81, ../sass/_grid.scss */
  .col-7 {
    width: 58.33333%;
  }

  /* line 81, ../sass/_grid.scss */
  .col-8 {
    width: 66.66667%;
  }

  /* line 81, ../sass/_grid.scss */
  .col-9 {
    width: 75%;
  }

  /* line 81, ../sass/_grid.scss */
  .col-10 {
    width: 83.33333%;
  }

  /* line 81, ../sass/_grid.scss */
  .col-11 {
    width: 91.66667%;
  }

  /* line 81, ../sass/_grid.scss */
  .col-12 {
    width: 100%;
  }
}
/* line 89, ../sass/_grid.scss */
.push-1 {
  position: relative;
  left: 8.33333%;
  right: auto;
}

/* line 89, ../sass/_grid.scss */
.push-2 {
  position: relative;
  left: 16.66667%;
  right: auto;
}

/* line 89, ../sass/_grid.scss */
.push-3 {
  position: relative;
  left: 25%;
  right: auto;
}

/* line 89, ../sass/_grid.scss */
.push-4 {
  position: relative;
  left: 33.33333%;
  right: auto;
}

/* line 89, ../sass/_grid.scss */
.push-5 {
  position: relative;
  left: 41.66667%;
  right: auto;
}

/* line 89, ../sass/_grid.scss */
.push-6 {
  position: relative;
  left: 50%;
  right: auto;
}

/* line 89, ../sass/_grid.scss */
.push-7 {
  position: relative;
  left: 58.33333%;
  right: auto;
}

/* line 89, ../sass/_grid.scss */
.push-8 {
  position: relative;
  left: 66.66667%;
  right: auto;
}

/* line 89, ../sass/_grid.scss */
.push-9 {
  position: relative;
  left: 75%;
  right: auto;
}

/* line 89, ../sass/_grid.scss */
.push-10 {
  position: relative;
  left: 83.33333%;
  right: auto;
}

/* line 89, ../sass/_grid.scss */
.push-11 {
  position: relative;
  left: 91.66667%;
  right: auto;
}

/* line 89, ../sass/_grid.scss */
.push-12 {
  position: relative;
  left: 100%;
  right: auto;
}

/* line 98, ../sass/_grid.scss */
.pull-1 {
  position: relative;
  right: 8.33333%;
  left: auto;
}

/* line 98, ../sass/_grid.scss */
.pull-2 {
  position: relative;
  right: 16.66667%;
  left: auto;
}

/* line 98, ../sass/_grid.scss */
.pull-3 {
  position: relative;
  right: 25%;
  left: auto;
}

/* line 98, ../sass/_grid.scss */
.pull-4 {
  position: relative;
  right: 33.33333%;
  left: auto;
}

/* line 98, ../sass/_grid.scss */
.pull-5 {
  position: relative;
  right: 41.66667%;
  left: auto;
}

/* line 98, ../sass/_grid.scss */
.pull-6 {
  position: relative;
  right: 50%;
  left: auto;
}

/* line 98, ../sass/_grid.scss */
.pull-7 {
  position: relative;
  right: 58.33333%;
  left: auto;
}

/* line 98, ../sass/_grid.scss */
.pull-8 {
  position: relative;
  right: 66.66667%;
  left: auto;
}

/* line 98, ../sass/_grid.scss */
.pull-9 {
  position: relative;
  right: 75%;
  left: auto;
}

/* line 98, ../sass/_grid.scss */
.pull-10 {
  position: relative;
  right: 83.33333%;
  left: auto;
}

/* line 98, ../sass/_grid.scss */
.pull-11 {
  position: relative;
  right: 91.66667%;
  left: auto;
}

/* line 98, ../sass/_grid.scss */
.pull-12 {
  position: relative;
  right: 100%;
  left: auto;
}

/* this should be deleted, only temp to show grids 
 *
 *
 *
 */
/* line 113, ../sass/_grid.scss */
.column,
.columns {
  background-color: rgba(246, 191, 222, 0.6);
  border: 1px solid red;
  border-top: none;
  border-bottom: none;
}

/* Type */
/* line 3, ../sass/_type.scss */
body {
  font: 87.5% "Open Sans", Verdana, Geneva, sans-serif;
}
@media screen and (min-width: 600px) {
  /* line 3, ../sass/_type.scss */
  body {
    font-size: 100%;
  }
}

/* line 12, ../sass/_type.scss */
body, select, input, textarea {
  color: #333332;
}

/* line 14, ../sass/_type.scss */
a {
  color: #f05133;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

/* line 15, ../sass/_type.scss */
a:hover {
  color: ligthen(#f05133, 20%);
}

/* line 18, ../sass/_type.scss */
::-moz-selection {
  background: #f05133;
  color: #fff;
  text-shadow: none;
}

/* line 19, ../sass/_type.scss */
::selection {
  background: #f05133;
  color: #fff;
  text-shadow: none;
}

/* line 22, ../sass/_type.scss */
a:link {
  -webkit-tap-highlight-color: #f05133;
}

/* line 24, ../sass/_type.scss */
ins {
  background-color: #f05133;
  color: #000;
  text-decoration: none;
}

/* line 25, ../sass/_type.scss */
mark {
  background-color: #f05133;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 28, ../sass/_type.scss */
input:-moz-placeholder {
  color: #a8a8a8;
}

/* line 29, ../sass/_type.scss */
textarea:-moz-placeholder {
  color: #a9a9a9;
}

/* line 31, ../sass/_type.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", Verdana, Geneva, sans-serif;
  line-height: 1.5;
}

/* line 36, ../sass/_type.scss */
h1 {
  font-size: emCalc(44px);
}

/* line 40, ../sass/_type.scss */
h2 {
  font-size: emCalc(36px);
}

/* line 44, ../sass/_type.scss */
h3 {
  font-size: emCalc(27px);
}

/* line 48, ../sass/_type.scss */
h4 {
  font-size: emCalc(22px);
}

/* line 52, ../sass/_type.scss */
h5 {
  font-size: emCalc(18px);
}

/* line 56, ../sass/_type.scss */
h6 {
  font-size: 1em;
}
