/* Import Partials!
-------------------------------------------------------------------------------*/
/* Reset */
/* Let's default this puppy out -- from HTML5 Reset
-------------------------------------------------------------------------------*/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article, aside, figure, footer, header, nav, section, details, summary {
  display: block;
}

/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll;
}

/* we use a lot of ULs that aren't bulleted. 
	don't forget to restore the bullets within content. */
ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

select, input, textarea {
  font: 99% sans-serif;
}

table {
  font-size: inherit;
  font: 100%;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

td, td img {
  vertical-align: top;
}

/* Make sure sup and sub don't screw with your line-heights
	gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* standardize any monospaced elements */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0;
}

/* make buttons play nice in IE */
button {
  width: auto;
  overflow: visible;
}

/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* prevent BG image flicker upon hover */
.ie6 html {
  filter: expression(document.execCommand("BackgroundImageCache", false, true));
}

.chromeframe {
  position: absolute;
  top: 0;
}

/* Variables */
/* Global */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a:focus {
  outline: none;
}

img,
object,
embed {
  max-width: 100%;
  height: auto;
}

object,
embed {
  height: 100%;
}

img {
  -ms-interpolation-mode: bicubic;
}

#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-justify {
  text-align: justify !important;
}

.hide {
  display: none;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
}

img {
  display: inline-block;
  vertical-align: middle;
}

textarea {
  height: auto;
  min-height: 50px;
}

select {
  width: 100%;
}

/* Beanstalk Felxible Grid 
 *
 * A flexible, responsive grid system built with style using Sass.
 *
 * Made by Caleb Sylvest
 * www.calebsylvest.com
 *
 */
.row {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
.row:before, .row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}
.row .row {
  width: auto;
  margin-left: -0.9375em;
  margin-right: -0.9375em;
  margin-top: 0;
  margin-bottom: 0;
}
.row.collapse > .column, .row.collapse > .columns {
  padding-left: 0;
  padding-right: 0;
}
.row.collapse-outer > .column:first-child, .row.collapse-outer > .columns:first-child {
  padding-left: 0;
}
.row.collapse-outer > .column:last-child, .row.collapse-outer > .columns:last-child {
  padding-right: 0;
}

.column,
.columns {
  width: 100%;
  float: left;
  padding-left: 0.9375em;
  padding-right: 0.9375em;
  position: relative;
}
.column:last-child,
.columns:last-child {
  float: right;
}

.small-col-1 {
  width: 8.33333%;
}

.small-col-2 {
  width: 16.66667%;
}

.small-col-3 {
  width: 25%;
}

.small-col-4 {
  width: 33.33333%;
}

.small-col-5 {
  width: 41.66667%;
}

.small-col-6 {
  width: 50%;
}

.small-col-7 {
  width: 58.33333%;
}

.small-col-8 {
  width: 66.66667%;
}

.small-col-9 {
  width: 75%;
}

.small-col-10 {
  width: 83.33333%;
}

.small-col-11 {
  width: 91.66667%;
}

.small-col-12 {
  width: 100%;
}

@media screen and (min-width: 600px) {
  .col-1 {
    width: 8.33333%;
  }

  .col-2 {
    width: 16.66667%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33333%;
  }

  .col-5 {
    width: 41.66667%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33333%;
  }

  .col-8 {
    width: 66.66667%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33333%;
  }

  .col-11 {
    width: 91.66667%;
  }

  .col-12 {
    width: 100%;
  }

  .push-1 {
    position: relative;
    left: 8.33333%;
    right: auto;
  }

  .push-2 {
    position: relative;
    left: 16.66667%;
    right: auto;
  }

  .push-3 {
    position: relative;
    left: 25%;
    right: auto;
  }

  .push-4 {
    position: relative;
    left: 33.33333%;
    right: auto;
  }

  .push-5 {
    position: relative;
    left: 41.66667%;
    right: auto;
  }

  .push-6 {
    position: relative;
    left: 50%;
    right: auto;
  }

  .push-7 {
    position: relative;
    left: 58.33333%;
    right: auto;
  }

  .push-8 {
    position: relative;
    left: 66.66667%;
    right: auto;
  }

  .push-9 {
    position: relative;
    left: 75%;
    right: auto;
  }

  .push-10 {
    position: relative;
    left: 83.33333%;
    right: auto;
  }

  .push-11 {
    position: relative;
    left: 91.66667%;
    right: auto;
  }

  .push-12 {
    position: relative;
    left: 100%;
    right: auto;
  }

  .pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto;
  }

  .pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto;
  }

  .pull-3 {
    position: relative;
    right: 25%;
    left: auto;
  }

  .pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto;
  }

  .pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto;
  }

  .pull-6 {
    position: relative;
    right: 50%;
    left: auto;
  }

  .pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto;
  }

  .pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto;
  }

  .pull-9 {
    position: relative;
    right: 75%;
    left: auto;
  }

  .pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto;
  }

  .pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto;
  }

  .pull-12 {
    position: relative;
    right: 100%;
    left: auto;
  }
}
/* this should be deleted, only temp to show grids 
 *
 *
 *
*/
.column,
.columns {
  background-color: rgba(246, 191, 222, 0.6);
  border: 1px solid red;
  border-top: none;
  border-bottom: none;
}

/* Type */
body {
  font: 87.5% "Open Sans", Verdana, Geneva, sans-serif;
}
@media screen and (min-width: 600px) {
  body {
    font-size: 100%;
  }
}

body, select, input, textarea {
  color: #333332;
}

a {
  color: #b2d234;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

a:hover {
  color: ligthen(#b2d234, 20%);
}

::-moz-selection {
  background: #b2d234;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #b2d234;
  color: #fff;
  text-shadow: none;
}

a:link {
  -webkit-tap-highlight-color: #b2d234;
}

ins {
  background-color: #b2d234;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #b2d234;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

input:-moz-placeholder {
  color: #a8a8a8;
}

textarea:-moz-placeholder {
  color: #a9a9a9;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", Verdana, Geneva, sans-serif;
  line-height: 1.5;
}

h1 {
  font-size: emCalc(44px);
}

h2 {
  font-size: emCalc(36px);
}

h3 {
  font-size: emCalc(27px);
}

h4 {
  font-size: emCalc(22px);
}

h5 {
  font-size: emCalc(18px);
}

h6 {
  font-size: 1em;
}
